/* LocationTransferActivity.css */
.transfer-card {
    max-width: 600px; /* Set the max-width of the card */
    margin: auto; /* Center the card */
    margin-bottom: 20px; /* Add some spacing below the card */
  }
  
  .chart-container {
    height: 400px; /* Adjust the height to make the chart smaller */
    position: relative; /* Make the chart responsive */
  }
  