.rack-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rack-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.rack-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.rack-grid {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(4, 50px);
  gap: 5px;
}


.square {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  font-weight: bold;
}


.prev-btn,
.next-btn {
  background-color: #f44336; /* Red */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
}

.prev-btn:hover,
.next-btn:hover {
  background-color: #d32f2f; /* Darker red */
}

.prev-btn {
  float: left;
}

.next-btn {
  float: right;
}


.slideshow-container {
  display: flex;
  align-items: center;
}

.prev-btn-container,
.next-btn-container {
  cursor: pointer;
  font-size: 20px;
  margin: 0 10px;
}

.prev-btn-container:hover,
.next-btn-container:hover {
  color: #333;
}

.prev-btn-container {
  flex: 1;
  text-align: right;
}

.next-btn-container {
  flex: 1;
  text-align: left;
}
